<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title >Pick Date</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-datetime presentation="date-time" size="cover"   [(ngModel)]="date" (ionChange)="dateChange(this.date)" [preferWheel]="true"></ion-datetime>
</ion-content>
