<ion-header>
  

  <ion-toolbar>
      <app-nav-previous-btn slot="start"></app-nav-previous-btn>
    <ion-title>create-order-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card >
    <ion-card-header>
      <ion-card-title><h4>Order Details</h4></ion-card-title>
      
    </ion-card-header>  
    
    
    <ion-card-content *ngIf="orderDetails.pickup">
        <ion-label position="stacked" ><strong>SENDER DETAILS</strong></ion-label>
        <hr>
        <ion-label position="stacked" ><strong>Name :</strong></ion-label>
        <p><ion-text>{{orderDetails.pickup.pick_recipient_name}}</ion-text></p>
        <ion-label position="stacked" ><strong>Address :</strong></ion-label>
        <p><ion-text>{{orderDetails.pickup.pick_recipient_address}}</ion-text></p>
        <p><ion-text>{{orderDetails.pickup.pick_recipient_city}}</ion-text></p>
        <p><ion-text>{{orderDetails.pickup.pick_recipient_county}}</ion-text></p>
        <p><ion-text>{{orderDetails.pickup.pick_recipient_eircode}}</ion-text></p>
        <ion-label position="stacked" ><strong>Tel:</strong></ion-label>
        <p><ion-text>{{orderDetails.pickup.pick_recipient_phone}}</ion-text></p>        
    </ion-card-content> 
    <ion-card-content *ngIf="orderDetails.dropoff">
      <ion-label position="stacked" ><strong>RECEIVER DETAILS </strong></ion-label>
      <hr>
      <ion-label position="stacked" ><strong>Name :</strong></ion-label>
      <p><ion-text>{{orderDetails.dropoff.drop_recipient_name}}</ion-text></p>
      <ion-label position="stacked" ><strong>Address :</strong></ion-label>
      <p><ion-text>{{orderDetails.dropoff.drop_recipient_address}}</ion-text></p>
      <p><ion-text>{{orderDetails.dropoff.drop_recipient_city}}</ion-text></p>
      <p><ion-text>{{orderDetails.dropoff.drop_recipient_county}}</ion-text></p>
      <p><ion-text>{{orderDetails.dropoff.drop_recipient_eircode}}</ion-text></p>
      <ion-label position="stacked" ><strong>Tel:</strong></ion-label>
      <p><ion-text>{{orderDetails.dropoff.drop_recipient_phone}}</ion-text></p>        
    </ion-card-content>
    <ion-card-content *ngIf="orderDetails.dropoff">
      <ion-label position="stacked" ><strong>RECEIVER DETAILS </strong></ion-label>
      <hr>
      <ion-label position="stacked" ><strong>Name :</strong></ion-label>
      <p><ion-text>{{orderDetails.dropoff.drop_recipient_name}}</ion-text></p>
      <ion-label position="stacked" ><strong>Address :</strong></ion-label>
      <p><ion-text>{{orderDetails.dropoff.drop_recipient_address}}</ion-text></p>
      <p><ion-text>{{orderDetails.dropoff.drop_recipient_city}}</ion-text></p>
      <p><ion-text>{{orderDetails.dropoff.drop_recipient_county}}</ion-text></p>
      <p><ion-text>{{orderDetails.dropoff.drop_recipient_eircode}}</ion-text></p>
      <ion-label position="stacked" ><strong>Tel:</strong></ion-label>
      <p><ion-text>{{orderDetails.dropoff.drop_recipient_phone}}</ion-text></p>        
    </ion-card-content>

    <ion-card-content *ngIf="orderDetails">
      <ion-label position="stacked" ><strong>Time :</strong></ion-label>
      <p><ion-text>{{orderDetails.pick_up_time}}</ion-text></p>
      <ion-label position="stacked" ><strong>Delivery Mode :</strong></ion-label>
      <p><ion-text>{{orderDetails.delivery_mode}}Kg</ion-text></p>
    </ion-card-content>

    <ion-button  class="buttonStyle"expand='block'(click)="makePayment()">Make Payment</ion-button>
  </ion-card> 

</ion-content>
